# Fichiers générés par Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Fichiers de build
bin/
obj/

# Logs, paquets et configuration
*.log
*.nupkg
*.snupkg
*.pdb
*.cache
*.config
*.config.*
*.local

# Répertoires spécifiques
TestResults/
node_modules/
dist/
wwwroot/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration de l'application locale
appsettings.Development.json
secrets.json

# Fichiers de lock et de build
project.lock.json
project.fragment.lock.json
