<MudLink Href="/album/Ipseite"  Class="text-decoration-none">
    <MudCard Outlined="true" Style="width:250px; border-radius: 16px;">
        
        <MudCardMedia Image="images/ipseite.jpg" Height="180" />
        <MudCardContent Class="d-flex justify-center flex-column">
            <MudText Typo="Typo.h6" Align="Align.Center">Ipseite</MudText>
            <MudText Typo="Typo.body2" Style="font-style: italic;" Align="Align.Center">12/12/12</MudText>
        </MudCardContent>
        <MudCardActions Class="justify-center">
            <MudIcon Icon="@Icons.Material.Filled.Construction" Color="@Color.Warning" Class="mr-4 ml-2"/>

            <span>L'album est en cours de modification</span>

            <MudSpacer/>
        </MudCardActions>
    </MudCard>
</MudLink>